<div style="margin: 10px 10px 10px 10px">
	<div style="text-align: left; border-bottom: 2px solid #065171">
		<div>
			<a href="https://www.nagarro.com">
				<img
					src="https://www.nagarro.com/hubfs/NagarroWebsiteRedesign-Aug2020/Assets/Images/Nagarro%20green%20logo%20with%20title_opt.svg"
					class="headerIcon"
				/>
			</a>
		</div>
		<div>
			<button
				(click)="signout()"
				class="button-secondary pure-button"
				style="
					float: right;
					margin-top: -40px;
					margin-right: 14px;
					background-color: #47d7ac;
					border-radius: 20px;
					color: white;
					border: none;
					padding: 8px 15px;
					cursor: pointer;
				"
			>
				{{ signOutButtonText }}
			</button>
		</div>
	</div>
	<br />
	<button (click)="validate()" class="sbtButton">Validate Data</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<button (click)="submitData()" class="sbtButton">Submit</button>
	<br /><br />
	<!-- <button (click)="readData()">Submit</button> -->
	<ngx-spinner
		bdColor="rgba(51, 51, 51, 0.8)"
		size="default"
		type="ball-spin-clockwise"
	>
		<p style="color: white">Please wait...</p>
	</ngx-spinner>
</div>
<style>
	.sbtButton {
		background-color: #065171;
		color: white;
		border: none;
		padding: 9px 18px;
		cursor: pointer;
	}
	.disableBtn {
	   background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
       color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
       border-color: -internal-light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
	   padding: 9px 18px;
	   cursor: not-allowed;
	}
</style>
